* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px 48px;
  min-width: 300px;
}

.hero-section {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

.hero-container {
  display: flex;
  padding: 70px 0;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  margin-right: auto;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 200px;
}

.info-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: blue solid 3px;
  padding: 24px 0px;
}

.info-header-text {
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.info-tiles-container {
  display: flex;
  border: red solid 3px;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 100px;
}

.info-tile {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: green solid 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tile-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.info-tile-text {
  width: 200px;
}
